NEXT_PUBLIC_SITE_URL=https://www.giccmasjid.org
NEXT_PUBLIC_GOOGLE_CALENDAR_ID=ammar@giccmasjid.org
NEXT_PUBLIC_GOOGLE_CALENDAR_API_KEY=
NEXT_PUBLIC_AWQAT_SUPABASE_URL=https://kjbutgbpddsadvnbgblg.supabase.co
NEXT_PUBLIC_AWQAT_SUPABASE_ANON_KEY=
NEXT_PUBLIC_AWQAT_MASJID_ID=96ac3382-aef7-4710-a187-7002ba7f4323
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
